.main-container{
    border-radius: 10px;
    background-color: aquamarine;
    width:300px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

body{
    background-color: beige;
    justify-items: center;
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
    }

input{
    display: block;
}
